<div class="container">

    <div class="row">
        <div class="col-md-6">
            <h3>Employee List</h3>
            <table class="table table-striped table-hover">
                <thead>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Role</th>
                    <th colspan="2">Action</th>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of employees; let i = index" style="cursor: pointer;" (click)="onSelectEmployee(employee)">
                        <td>{{ employee.id }}</td>
                        <td>{{ employee.name }}</td>
                        <td>{{ employee.age }}</td>
                        <td>{{ employee.role }}</td>
                        <td style="cursor: pointer;"><i class="fa fa-trash" (click)="delete(employee.id)"></i></td>
                        <td style="cursor: pointer;"><i class="fas fa-edit" (click)="update(i)"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h3 class="display-3" *ngIf="isUpdating">Update</h3>
            <h3 class="display-3" *ngIf="!isUpdating">Add</h3>
            <input type="button" value="Add Employee" (click)='isUpdating = false' *ngIf="isUpdating"
                class="btn btn-link">
            <div class="form-group">
                <input type="text" class="form-control" [readOnly]='isUpdating' placeholder="Id" [(ngModel)]='id'>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Name" [(ngModel)]='name'>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Age" [(ngModel)]='age'>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Role" [(ngModel)]='role'>
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Submit" (click)='addEmployee()'>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>